{% extends 'base.html' %}
{% load static %}

{% block title %}Vehicle Classifier{% endblock %}

{% block content %}

<div class="row align-items-center mt-5">

    <div class="col-lg-6">

        <h1 class="display-3 fw-bold">
            Smart Vehicle Classification
        </h1>

        <p class="lead mt-4">
            Predict vehicle categories instantly using a Decision Tree Machine Learning model.
        </p>

        <a href="{% url 'predict' %}" class="btn btn-primary btn-lg mt-3">
            Predict Vehicle
        </a>

    </div>

    <div class="col-lg-6 text-center">

        <img src="{% static 'images/vehicle.png' %}"
             class="img-fluid"
             width="500">

    </div>

</div>

{% endblock %}